$font-size-base: 1rem; /*gefunden in _variables.scss*/
$primary: blue;
$light: white;
$white: white;
$secondary: #dedede;


@import "../parts/_navbar";
@import "../parts/_sidebar";
@import "../parts/_unterbringung";
@import "../parts/_datenschutz";
@import "../parts/_footer";
#page{

}
body{
    background-color:#bb727a;
}
.container{

}
.inhalt{
    padding: 20px;

    @include media-breakpoint-up(lg){
        padding: 50px;
    }
    li{
        font-size: 1rem;

        @include media-breakpoint-up(lg){

        }
    }
    p{
    font-size: 1rem;
                @include media-breakpoint-up(lg){

        }
            }

    div.inhalt{
        height:800px;

        @include media-breakpoint-up(sm){
                height:100px;
            }

        }
    .ueberschrift{
        font-weight:bold;
        font-size: 1.25rem;
        @include media-breakpoint-up(lg){

        }
    }
}
.row{
    margin:0;
}
.slider{

    background-color: #ad4343
}


