.contactus{
    padding-top: 100px;
    padding-bottom:100px;
    // background-image: url("https://storage.googleapis.com/die-gluecksschweinchen.de/images/contact-bg.png");
    background-color: grey;
    background-size: cover;
    color:white;


    textarea{
        height:6rem;
        @include media-breakpoint-up(sm){
        height:100%;
        }
    }
    // input::placeholder{
    //     color:red;
    // }
}
