footer{
    p{
        font-size:1.25rem;
    }
    height:100px;
    background-color: #991724;
}
.footer-icon{
    display:inline-block; //damit man dem ding feste maße geben kann//
    &hover{ //wenn gehovert wird//
        text-decoration:none;
    }
    width:2rem;
    height:2rem;
    color:white;
    background-color: black;
    border-radius: 50%;
}