$header-size:300px;
$header-size-sm:350px;
$header-size-md:400px;
$header-size-lg:500px;
$header-size-xl:700px;
$img-size:150px;

header {
    // max-height: auto;
    // height:auto;
    // width:auto;
    // // margin-top:75px;
    // // height: 200px;
    // background-image:    url(https://storage.googleapis.com/die-gluecksschweinchen.de/images/header_comp.jpg);
    // background-size:     contain;
    // background-repeat:   no-repeat;
    // background-position: center center;
    // @include media-breakpoint-up(sm){
    //     height:$img-size+250;
    // }
    // @include media-breakpoint-up(md){
    //     height:$img-size+350;
    // }
    // @include media-breakpoint-up(lg){
    //     height:$img-size+500;
    // }
    // @include media-breakpoint-up(xl){
    //     height:$img-size+650;
    // }



}
