.navbar-nav{
    margin:auto;
    a{ 
        font-size: 1.25rem;
        @include media-breakpoint-up(xl){
     
            font-size: 1.5rem;
        }
      
       
       
    }
}
nav{
    background-color: #991724;
    
   
    
    @include media-breakpoint-up(md){
     
        font-size: 1.25rem;
    }
     @include media-breakpoint-up(xl){
     
        font-size: 1.7rem;
    }
    
    a:hover{
        color:white;
    }
}
#link{
    color:$secondary;
    
}
#link:hover{
    color:white;
}

